<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>OBS</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../bootstrap.min.css">
</head>
<body>
<div class="container">
<h1>Öğrenci Bilgi Sistemi</h1>
<hr>
<p class="h2 m-4"> Öğrenci</p>
<hr>

	<form action="#" th:action="@{/ogrenci/save}" th:object="${ogrenci}" method="POST">
	<input type="hidden" th:field="*{id}" >
	<input type="number" th:field="*{tcKimlikNo}" class="form-control col-3 m-4" placeholder="TC Kimlik No">
	<input type="text" th:field="*{firstName}" class="form-control col-3 m-4" placeholder="Ad">
	<input type="text" th:field="*{lastName}" class="form-control col-3 m-4" placeholder="Soyad">
	<input type="hidden" th:field="*{borcTutari}" >
	<input type="hidden" th:field="*{borcDurumu}" >
	<button type="submit" class="btn btn-info col-3 m-4">Kayıt</button>
	
	</form>
	<hr>
	<a th:href="@{/ogrenciler/list}" class="btn btn-info col-3 m-4">Anasayfaya geri dön</a>
	</div>
</body>
</html>